@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

@font-face {
  font-family: Alagard ;
  src: url('../src/font/alagard/alagard.ttf');
}

body {
  font-family: 'Alagard' !important;
}
.ui.container{
  font-weight: bold;
  padding: 20px;
  border-radius: 25px;
}
.blue-box {
  color: black;
  background-color: rgba(38, 47, 85, 0.8);
  font-weight: bold;
  border-radius: 25px;
  margin-top: 50px;
}
.form{
  margin: 2rem
}
.background {
  background: url("https://images2.alphacoders.com/705/705837.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: auto;
}
.background2{
  background: url("../public/assets/bg/2.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: auto;
}
.background3{
  background: url("../public/assets/bg/3.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: auto;
}
