
#main-navigation
  color: white 
  z-index: 2
  .item
    color: white
    transition: color 400ms, background 400ms
    &:hover
      background: rgba(90,90,90,0.3)
  + *
    padding-top: 1rem
    padding-left: calc(120px + 1rem)
    .ui.header
      color: white
      text-shadow: 1px 1px 3px black

.ui.form.use-form
  .ui.dropdown
    background-color: white
    min-width: max-content

.ui.horizontal.list.display-list
  display: flex
  flex-flow: row wrap
  align-items: center
  // align-content: flex-start
  justify-content: flex-start
  // justify-items: flex-start
  gap: 1rem
  transition: transform 400ms
  > a, > .ui.item
    margin: 0
    .header
      margin-bottom: 0.5rem
    &:hover
      transform: translateY(-3px)

.ui.segment
  &.flex
    display: flex
    flex-flow: row wrap
    gap: 0.5rem
    .stretch
      flex-grow: 1
    .ui.buttons
      align-items: flex-start
      .button
        flex-grow: 0

a.placeholder 
  width: 128px
  margin-top: 1rem
  align-self: flex-start

#LandingPage
  color: white

.display-list.users
  .item
    background: rgba(255,255,255,0.2)
    border-radius: 5px
    border: 1px solid white
    transition: transform 400ms
    &:hover
      transform: translateY(-3px)
  .image
    max-width: 120px