@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap');

*{
  overflow-y: 'scroll';
  
}

.hidden{
    visibility: hidden;
}

.imageBorder{
  border-color: #995200;
  border-width: 10px;
}

.profileImg{
  width: 200px;
  height: 300px;
  object-fit: cover;

}

.background1 {
  background: url('') ;
  position: fixed;
  background-size:cover;
  background-size:contain;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: 'scroll';
}

.body{
  
    height: auto;
    width: 75%;
    display: flex;
    justify-content: center;
    margin-left: 200px;
}

/* Navigation and misc */
#main-content {
  position: absolute;
  top: 0px;
  left: 55px;
  right: 0px;
  height: 100%;
  width: 50;
  padding: 10px;
}

#main-navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 5px;
  max-width: 120px;
  height: 100%;
  background-color: rgba(222, 0, 0, 0.565);
  overflow: hidden;
  box-shadow: 0 0 20px rgb(43, 24, 5);
}
#main-navigation ul {
  list-style: none;
  padding: 0px;
}
#main-navigation ul li {
  white-space: nowrap;
}
#main-navigation ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: #FFF;
  height: 55px;
  line-height: 55px;
  padding-right: 30px;
  width: 100%;
}
#main-navigation ul li a:before {
  display: inline-block;
  font-size: 30px;
  color: #FFF;
  width: 55px;
  text-align: center;
  line-height: 55px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#main-navigation ul li a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(225, 2, 2);
}
#main-navigation ul li a:hover:before {
  color: rgb(225, 2, 2);
}
#main-navigation ul li a.active-tab {
  background-color: #FFF;
  color: rgb(225, 2, 2);
}
#main-navigation ul li a.active-tab:before {
  color:rgb(225, 2, 2);
}
#main-navigation:hover {
  max-width: 200px;
  -webkit-box-shadow: 0 0 10px #995200;
  -moz-box-shadow: 0 0 10px #995200;
  box-shadow: 0 0 10px #995200;
}

#main-navigation:hover {
  max-width: 200px;
  -webkit-box-shadow: 0 0 10px rgb(43, 24, 5);
  -moz-box-shadow: 0 0 10px #995200;
  box-shadow: 0 0 10px #995200;
}

/* Content */

.paper {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  max-width: 900px;
  min-height: 300px;
  padding: 24px;
  position: relative;
  width: 80%;
  line-height: 200%;
}

.paper h1 {
  text-align: center;
}
.paper:before, .paper:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.paper:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.paper:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}